/* css for website background*/
html {
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* the css for the slider */
.range {
    position: relative;
    width: 550px;
    height: 5px;
}

.range-slider {
    position: relative;
    margin-top: 50px;
    margin-left: 33%;
    margin-bottom: 30px;
}

.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #595959;
    cursor: pointer;
    border: 0 !important;
}

.range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #595959;
    cursor: pointer;
    border: 0 !important;
}

.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #595959;
    cursor: pointer;
    border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range input:focus {
    background: none;
    outline: none;
}

.range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}

.range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

.range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #666666;
    border-radius: 50%;
}

.range-labels .active {
    color: #000000;
    font-weight: bold;
}

.range-labels .selected::before {
    background: #595959;
}

.range-labels .active.selected::before {
    display: none;
}

/* the css for the picture frame */
.img-setup {
    border: solid 10px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    height: 100%;
    width: 200%;
}

/*css for frame of the image*/
.frame {
    background-color: #e6e6e6;
    border: solid 5px #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    margin: 8vh 5vh;
    height: 45vh;
    width: 60vh;
    padding: 3vmin;
    position: relative;
    text-align: center;

    &:before {
        border-radius: 2px;
        bottom: -1vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
        content: "";
        left: -1vmin;
        position: absolute;
        right: -1vmin;
        top: -1vmin;
    }

    &:after {
        border-radius: 2px;
        bottom: -1vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
        content: "";
        left: -1vmin;
        position: absolute;
        right: -1vmin;
        top: -1vmin;
    }
}

/*hovering will enlarge images*/
.img-setup:hover {
    -ms-transform: scale(1.7);
    /* IE 9 */
    -webkit-transform: scale(1.7);
    /* Safari 3-8 */
    transform: scale(1.7);
}

/*text frame is used for the textbox under imgage's frame */
.text-frame {
    position: relative;
    text-align: center;
    border: 20px double #545454;
    border-width: 20px;
    border-style: double;
    border-color: #545454;
    background-color: white;
    bottom: 10px;
}

.txt-box {
    background-color: #f2f2f2;
    border-top: 3px dotted #000;
    border-bottom: 3px dotted #000;
    box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
    margin-top: 50px;
    margin-bottom: 1px;
    height: 50px;
    width: 450px;
    text-align: center;
    text-decoration-style: solid;
    font-size: 1.20vw;
    top: 50px;
    bottom: -30px;
    left: 50%;
}

.scroll-btn {
    border: dashed 1px;
    border-color: grey;
    margin-bottom: 4vh;
    z-index: 99;
}

.scroll-btn:hover {
    background-color: grey;
}

label {
    font-weight: bold;
}

audio {
    align-items: center;
    margin-top: 4vh;
}

/*here is the css for game page*/
.back-to-home {
    position: relative;
    text-align: center;
    top: 30px;
    bottom: 20px;
    left: 40%;
}